.languageSwitcherContainer {
  display: flex;
  position: fixed;
  align-items: center;
  top: 15px;
  right: 25px;
  z-index: 999999999;

  h3 {
    color: #fff;
  }

  button {
    border-radius: 100px;
    background: none;
    margin: 0 12px;
    border: none;
  }
}

@media (max-width: 500px) {
  .languageSwitcherContainer {
    top: 10px;
    right: 10px;

    button {
      margin: 0 6px;
    }
  }
}
