$primaryColor: #248CEC;
$primaryColor2: #1676CF;
$whiteTextColor: #fff;
$grayTextColor: rgba(255, 255, 255, 0.6);
$darkBlueColor: #031424;
$lightBlue: #238AE919;
$grayBorderColor: #00000019;
$warningColor: #fa1919;
$inputColor: #000