@import '../app/colors/colors.scss';
@import '../../public/css/bpg-arial.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "BPG Arial", sans-serif;
  text-decoration: none;
}

body {
  background: linear-gradient($primaryColor, $primaryColor2);
}